/*-----------------------------------------------------General-*/

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.text-center {
    text-align: center;
}

.heading {
    color: #e8e8e8;
    text-align: center;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-block {
    color: #3c3838;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.picture {
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.grey-text {
    color: #3c3838;
}

/*-----------------------------------------------------Containers-*/

.callout-container {
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.devider {
    background-color: #e8e8e8;
    width: 75%;
    height: 2px;
    border: 0;
}

.devider-long {
    background-color: #e8e8e8;
    width: 90%;
    height: 1px;
    border: 0;
}

.devider-long-grey {
    background-color: #3c3838;
    width: 90%;
    height: 1px;
    border: 0;
}

.content-container {
    padding-top: 15px;
    padding-bottom: 75px;
}

.container-grey {
    background-color: #3c3838;
}

.container-green {
    background-color: #4bde4b;
}

/*-----------------------------------------------------Jumbotron-*/

.jumbotron {
    background-color: transparent;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.jumbotron h1 {
    color: #4bde4b;
    font-weight: bold;
}

.jumbotron .lead {
    color: #ffffff;
}

.jumbotron .btn {
    color: #ffffff;
    background-color: #4bde4b;
    border-color: #4bde4b;
}

.jumbotron .btn:hover {
    background-color: #3ca43c;
    border-color: #3ca43c;
}

/*-----------------------------------------------------Navbar-*/

.navbar {
    z-index: 1;
    margin-bottom: 0;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #4bde4b;
}

.navbar .navbar-brand:hover {
    color: #3ca43c;
}

.navbar .nav-item .nav-link {
    color: #4bde4b;
    font-weight: bold;
}

.navbar .nav-item .nav-link:hover {
    color: #3ca43c;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #4bde4b;
    border-radius: 5px;
    border: 0;
}

.social i {
    font-size: 1.3em;
}

/*-----------------------------------------------------GuestHouse-*/

.guest {
    margin-top: 80px;
    color: #ffffff;
}

/*-----------------------------------------------------Prices-*/

.table-container p,h4 {
    color: #3c3838;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 1.2em;
}

.table td, .table th {
    color: #3c3838;
    border-top-color: #3c3838;
}

.table {
    width: 70%;
    margin: auto;
    margin-top: 35px;
}

/*-----------------------------------------------------The Area-*/

.area-text {
    margin-top: 25px;
    color: #ffffff;
}

/*-----------------------------------------------------Booking-*/

.book {
    margin-top: 80px;
}

/*-----------------------------------------------------Form-*/

.center-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center-form .btn {
    margin-top: 15px;
    font-size: 1.5em;
    text-align: center
}

.center-form .form-control {
    margin: 5px;
}

.center-form label { 
    float: left;
    margin-left: 30px;
}

.fixed-bottom {
    float: right;
}

/*-----------------------------------------------------Video-*/

.embed-responsive {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------------------------------footer-*/

.footer-text {
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}

footer .fa {
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
}